<!-- <footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; MK PROPERTY 2025</p>
    </div>
</footer>


<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script> -->

<!-- <footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; MK PROPERTY 2025</p>
    </div>
</footer>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script>
<script>
    // Toggle Sidebar
    document.getElementById("sidebarToggle").addEventListener("click", function () {
        document.getElementById("wrapper").classList.toggle("toggled");
    });
</script> -->