<footer>
    <div class="container">
        <p class="m-0 text-center tet-white">Copy Right &copy; 2021 MK Property</p>
    </div>
</footer>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.่js"></script>